<div class="vacancy">
    <div class="vacancy-info-company-container">
        <div class="vacancy-info">
            <a href="vacancy?id=__ID__"><div class="title">__TITLE__</div></a>
            <div class="text">__TEXT__</div>

            <div class="region">__SPEC__</div>
            <div class="region">__REGION__</div>

            <div class="salary">__SALARY_FROM__</div>
            <div class="salary">__SALARY_TO__</div>
            <div class="create-date">__CREATE_DATE__</div>
        </div>
        <div class="vacancy-company">
            <div class="title">__COMPANY_NAME__</div>
            <!-- <div class="logo"></div> -->
        </div>
    </div>
</div>