.admin-container {
    margin: 0px;

    font-size: 1em;

    display: flex;
    flex-direction: row;
}

.admin-side-container {
    margin: 0px;
    margin-right: 10px;
    padding: 5px;
    min-width: 200px;
    font-size: 1em;

    background-color: #b3b3b3;

    display: flex;
    flex-direction: column;
}

.admin-side-element {
    padding: 5px;
    cursor: pointer;
}

.admin-side-element:hover {
    background-color: #F0F0F0;
}

.admin-edit-container {
    margin: 0px;
    padding: 0px;

    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: #F0F0F0; */
}

.admin-edit-add-container {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
}

.admin-edit {
    flex: 1;
    margin: 0px;
    padding: 0px;
}

.admin-content-element {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #F0F0F0;
}

.admin-content-element:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .admin-container {
        flex-direction: column;
    }

    .admin-side-container {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

.field-container {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;

    flex: 1;
    display: flex;
    flex-direction: column;
}

.field-name {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.admin-input {
    padding: 5px;
    font-size: 1em;
    background-color: #FFFFFF;

    border: 1px solid #000000;
}

.admin-input:focus {
    padding: 5px;
    font-size: 1em;
    background-color: #FFFFFF;

    border: 1px solid #000000;
}

textarea {
    width: 100%;
    font-size: 1em;

    overflow: hidden;

    border: 1px solid #000000;
}

.row-container {
    flex: 1;

    display: flex;
    flex-direction: row;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-container:hover {
    cursor: pointer;
}

.list-elem {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.list-elem:hover {
    background-color: #FFFFFF;
}