.main-container-auth {
    margin: 0px auto;
    padding: 10px;
    background-color: #F0F0F0;
    max-width: 600px;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.auth-input-field {
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;

    font-size: 1em;
}

.main-container-auth>form {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.submit-auth-button {
    margin: 0px auto;
    width: 10em;
}