body {
	margin: 0px;
	padding: 10px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.main-container-details {
	margin: 0px;
	padding: 0px;

	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: flex-start;
}

.title-container {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
}

.title {
	margin: 0px;
	padding: 5px;
	text-align: left;

	font-size: 1.5em;
}

.tags-container {
	margin: 0px;
	margin-right: 10px;
	padding: 10px;
	min-width: 200px;
	background-color: #F0F0F0;

	flex: 1;
	display: flex;
	flex-direction: column;
}

.tags-container>.title:hover {
	cursor: default;
}

.tag {
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #b3b3b3;

	font-size: 1em;
}

/*
.tag:hover {
	opacity: 0.5;
	cursor: pointer;
}*/

.details-container {
	margin: 0px;
	padding: 0px;

	flex: 4;
	display: flex;
	flex-direction: row;
}

.details {
	margin: 0px;
	padding: 10px;
	background-color: #F0F0F0;
	min-height: 400px;

	flex: 1;
	display: flex;
	flex-direction: column;
}

.title-container>.title {
	flex: 1;
}

.details>.text {
	margin: 0px;
	padding: 5px;
	min-height: 6rem;
	overflow: auto;


	font-size: 1em;
}

.details>.salary {
	margin: 0px;
	padding: 5px;
	font-size: 1.5em;
}

.vacancy-company {
	margin: 0px;
	margin-left: 10px;
	padding: 5px;
	background-color: #F0F0F0;
}

.vacancy-company>.title {
	margin: 0px;
	padding: 0px;

	/* text-align: center; */
}

.vacancy-company>.logo {
	margin: 0px auto;
	padding: 0px;
	background-color: #ff0101;
	height: 75px;
	width: 75px;
}

@media screen and (max-width: 800px) {
	.details-container {
		width: 100%;
		flex-direction: column;
	}

	.details {
		margin-bottom: 10px;
	}

	.vacancy-company {
		margin: 0px;
		padding: 5px;
		width: 100%;
	}

	.main-container-details {
		flex-direction: column;
	}

	.tags-container {
		margin: 0px;
		margin-bottom: 10px;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.tags-container>.title {
		display: none;
	}

	.tag {
		margin: 5px 5px;
	}
}