body {
	margin: 0px;
	padding: 10px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.main-container {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;

	display: flex;
	flex-direction: column;

	min-height: 100vh;

	min-width: 400px;
	max-width: 1440px;
}

.main-content-container {
	margin: 0px;
	padding: 0px;

	flex-grow: 1;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #000000;
}

a:active {
	color: blue;
}

input {
	margin: 0px;
	padding: 1px;
	background: none;
	border: none;
	border-bottom: 1px solid #000000;
}

input[type="checkbox"] {
	margin: 0px;
	margin-right: 0.5em;
	padding: 0px;
	height: 1em;
	cursor: pointer;
}

textarea {
	margin: 0px;
	padding: 5px;
	min-height: 6rem;
	font-size: 1em;

	resize: none;

	border: #000000 1px solid;
	border-radius: 0px;
}

input:focus {
	background: none;
	border: none;
	border-bottom: 1px solid #000000;
	outline: none;
}

textarea:focus {
	outline: none;
}

button {
	margin: 0px;
	padding: 10px;
	background-color: #ff0101;
	border: none;

	font-size: 1em;
}

button:hover {
	cursor: pointer;
	outline: 2px solid #000000;
}