.h-logo {
	margin: 0;
	padding: 0px;
	background-color: #fd0f0f;
	height: 75px;
	width: 75px;
}

.h-main-container-header-footer {
	margin: 0;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #b3b3b3;
	display: flex;
	flex-direction: row;
}

.h-right-container {
	margin-bottom: auto;
	padding: 10px;
	text-align: right;

	flex: 1;
	display: inline-flex;
	flex-direction: row-reverse;
}