.main-container-profile {
	margin: 0px;
	padding: 0px;

	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: flex-start;
}

.title-container {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	display: flex;
	flex-direction: row;
}

.title {
	margin: 0px;
	padding: 5px;
	text-align: left;

	font-size: 1.5em;
}

.favorites-container {
	margin: 0px;
	margin-right: 10px;
	padding: 10px;
	min-width: 200px;
	background-color: #F0F0F0;

	flex: 1;
	display: flex;
	flex-direction: column;
}

.favorites-container>.title:hover {
	cursor: default;
}

.favorite {
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #b3b3b3;
	cursor: pointer;

	font-size: 1em;
}

.favorite:hover {
	background-color: #ff0101;
	outline: 2px solid #000000;
}

.details-profile-container {
	margin: 0px;
	padding: 0px;
	width: 100%;

	flex: 4;
	display: flex;
	flex-direction: column;
}

.details-profile {
	margin: 0px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #F0F0F0;
	min-height: 150px;

	flex: 1;
	display: flex;
	flex-direction: column;
}

.title-container>.title {
	flex: 1;
}

.details-profile>.text {
	margin: 0px;
	padding: 5px;
	min-height: 6rem;
	font-size: 1em;
}

.vacancy-company-profile {
	margin: 0px;
	margin-left: 10px;
	padding: 5px;
	background-color: #F0F0F0;
}

.vacancy-company-profile>.title {
	margin: 0px;
	padding: 0px;

	text-align: center;
}

.vacancy-company-profile>.logo {
	margin: 0px auto;
	padding: 0px;
	background-color: #ff0101;
	height: 75px;
	width: 75px;
}

@media screen and (max-width: 800px) {
	.main-container-profile {
		flex-direction: column;
	}

	.favorites-container {
		margin: 0px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.favorites-container>.title {
		display: none;
	}

	.favorite {
		margin: 5px 5px;
	}
}