.main-container-vacancies {
	margin: 0px;
	padding: 0px;

	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: flex-start;
}

.filters-container {
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	min-width: 200px;

	display: flex;
	flex-direction: column;
	flex: 1;
}

.filters-container>.title {
	margin: 0px;
	padding: 5px;
	text-align: left;

	font-size: 1.5em;
}

.filter {
	margin: 0px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #b3b3b3;

	display: flex;
	flex-direction: column;
}

.filter>summary {
	margin-bottom: 5px;
	font-weight: bold;
}

.filter>summary:hover {
	cursor: pointer;
}

.filter-element {
	margin: 0px 1em 0 1em;
	padding: 5px;

	display: inline-flex;
	flex-direction: row;
}

.filter-element:hover {
	cursor: default;
	background-color: #F0F0F0;
}

.filter-element>input[type="text"] {
	width: 100%;
}


.vacancies-container {
	margin: 0px;
	padding: 0px;
	min-width: 300px;

	flex: 4;

	display: inline-flex;
	flex-direction: column;
}

.search-tags-container {
	margin: 0px;
	padding: 0px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.search-tag {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #b3b3b3;

	font-size: 1em;
}

.search-tag:hover {
	opacity: 0.5;
	cursor: pointer;
}

.search-field {
	margin: 0px;
	margin-bottom: 10px;
	font-size: 1.5em;

	display: flex;
	flex-direction: row;

}

.search-field>input[type="text"] {
	margin: 0px;
	padding: 5px;
	background-color: #b3b3b3;

	flex: 1;
	font-size: 1em;
}

.search-field>button {
	font-size: 1em;
}

.search-sort-container {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;

	display: inline-flex;
	flex-direction: row;
}

.search-sort-element {
	margin-right: 10px;
	padding: 5px;
	background-color: #F0F0F0;
	cursor: pointer;
}

.search-sort-element:hover {
	color: #ff0101;
}

.search-pages-container {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.search-page {
	margin: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #b3b3b3;
	cursor: pointer;
}

.search-page-selected {
	margin: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ff0101;
	cursor: pointer;
}

.vacancy {
	margin: 0px;
	margin-bottom: 10px;
	padding: 1em;
	background-color: #F0F0F0;
	min-height: 150px;

	display: flex;
	flex-direction: column;
}

.vacancy-info-company-container {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
}

.vacancy-info {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;

	flex: 1;

	display: flex;
	flex-direction: column;
}

.vacancy-info>.title {
	margin: 0px;
	padding: 5px;

	font-size: 1.5em;
}

.vacancy-info>.title:hover {
	color: #ff0101;
	cursor: pointer;
}

.vacancy-info>.text {
	margin: 0px;
	padding: 5px;
	max-height: 15rem;
	min-height: 6rem;

	font-size: 1em;
	overflow: hidden;
}

.vacancy-info>.salary {
	margin: 0px;
	padding: 5px;
	font-size: 1.5em;
}

.vacancy-info>.create-date {
	margin: 0px;
	margin-top: 10px;
	padding: 5px;
	font-size: 1em;
}

.vacancy-info>.region {
	margin: 10px 0px;
	padding: 5px;
	font-size: 1em;
}

.vacancy-company {
	margin: 0px;
	padding: 5px;
	max-width: 150px;
}

.vacancy-company>.title {
	margin: 0px;
	padding: 0px;

	text-align: center;
}

.vacancy-company>.logo {
	margin: 0px auto;
	padding: 0px;
	background-color: #ff0101;
	height: 75px;
	width: 75px;
}

@media screen and (max-width:800px) {
	.main-container-vacancies {
		flex-direction: column;
	}

	.vacancies-container {
		min-width: 100%;
	}

	.filters-container {
		width: 100%;
		margin-bottom: 5px;
		display: inline-flex;
		flex-wrap: wrap;
	}

	.filter {
		flex: 1;
	}

	.search-pages-container {
		margin-top: 10px;
		flex-wrap: wrap;
	}

	.search-page {
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.search-page-selected {
		margin-right: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:600px) {
	.vacancy-info-company-container {
		flex-direction: column;
	}

	.vacancy-company {
		order: -1;
	}

	.vacancy-company>.title {
		font-size: 1em;
		text-align: left;
	}
}